:root {
  /* --primary:hsl(205.2, 61.2%, 59.6%); */
  --primary:hsl(205.4, 48.5%, 44.9%);
  --secondary:hsl(24, 100%, 50%);
  --gray:hsl(0, 0%, 93%);
  --green:hsl(128.8, 100%, 28%);
  --hero-height-home:800px;
  --hero-height:600px;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.text-center { text-align:center; }
.text-left { text-align:left; }
.text-right { text-align:right; }

.container {
  max-width:1280px;
}


/* Forms */
form .btn-primary {
  background:var(--primary);
}

form .btn-primary:hover {
  background:var(darken(--primary, 5%));
}

form .btn-secondary {
  background:var(--secondary);
}

form .btn-primary, form .btn-secondary {
  border:none;
}


/* Site Header */
.site-header {
  padding:10px 0;
  width:100%;
  background:var(--primary);
  color:#FFF;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:300;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.site-header .navbar-nav {
  display:flex;
  justify-content:space-around;
  margin:0 10px;
  flex-direction:row;
}

.site-header .navbar-nav .dropdown-menu {
  position:absolute;
  top:50px;
  border-top-left-radius:0;
  border-top-right-radius:0;
  z-index:500;
}

.site-header .navbar-nav .dropdown-menu {
  background:var(--primary);
  
}

.site-header .navbar-nav .dropdown-menu a {
  color:#fff;
  font-size:0.95rem;
}

.site-header .container nav {
  display:flex;
}

.site-header .container nav ul {
  margin:0;
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center;
  list-style:none;
}

/* End Site Header */


/* Hero */
section.hero {
  height:var(--hero-height);
  text-align:center;
  color: #FFF;
  background:#CCC;
}

section.hero::before {
  content:"";
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(50%);
  height:var(--hero-height);
  position:absolute;
  left:0;
  right:0;
  top:0;
}

section.hero .container {
  width:100%;
  height:var(--hero-height);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: relative;
}

section.hero .container h1 {
  font-size:2.5rem;
}

/* Home Page */
section.hero.home, section.hero.home::before, section.hero.home .container {
  height:var(--hero-height-home);
}

/* Internal Pages */
section.hero, section.hero::before, section.hero .container {
  height:var(--hero-height);
  background-position:top center;
}

/* Page Hero Backgrounds */
section.hero.home::before { background-image:url("/images/hero/home.jpg"); }
section.hero.about::before { background-image:url("/images/hero/about.jpg"); }
section.hero.case-studies::before { background-image:url("/images/hero/case-studies.jpg"); }
section.hero.blog::before { background-image:url("/images/hero/blog.jpg"); }
section.hero.work::before { background-image:url("/images/hero/work.jpg"); }
section.hero.locations::before { background-image:url("/images/hero/locations.jpg"); }
section.hero.contact::before { background-image:url("/images/hero/contact.jpg"); }
section.hero::before { background-image:url("/images/hero/home2.jpg"); }   /* Default */
/* End Hero */


/* Content */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}

.main section {
  padding:5rem 0;
  width:100%;
  display:flex;
  flex-direction:column;
}

.main section:nth-child(odd){
  background:#EEE;
}

.main section:nth-child(even){
  background:#FFF;
}

.main section.intro p {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: var(--primary);
}

.main .boxed-image {
  background:var(--gray);
  padding:1.5rem;
  display:flex;
  flex-direction: column;
  border-radius:10px;
}
/* End Content */


/* Technologies */
.main section.technologies {
  margin:35px 0;
  padding:0;
}

.main section.technologies .technology {
  display:flex;
  flex-direction:column;
  margin:40px 0;
}

.main section.technologies .technology .featured-image {
  padding:20px;
  margin:20px 0;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  background:var(--gray);
}

.main section.technologies .technology .featured-image img {
  width:150px;
  height:150px;
}
.main section.technologies .technology .featured-image:hover {
  cursor:pointer;
}

.main section.technologies .technology h3 {
  font-size:1.4rem;
  margin:0;
  padding:0;
}


/* Work -  TODO: make generic so it can be replicated */
.main section.projects {
  margin:35px 0;
  padding:0;
}

.main section.projects .project .featured-image {
  padding:20px;
  margin:20px 0;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  background:var(--gray);
}

.main section.projects .project .featured-image img {
  width:100%;
  height:150px;
}


/* Site Footer */
.site-footer {
  margin:0 0 25px;
  padding:0px;
  width:100%;
}

.site-footer .pre-footer {
  background:var(--gray);
  color:#333;
  padding: 75px 0;
}

.site-footer .footer {
  padding:40px 0;
  width:100%;
  background:var(--primary);
  color:#FFF;
}

.site-footer .footer .container h5 {
  margin-bottom:10px;
}

.site-footer .footer .container p {
  padding-top:0;
}

.site-footer .footer .container ul {
  list-style:none;
  padding:0;
  margin:0;
}
.site-footer .footer .container ul li {
  padding:2px 0;
}
.site-footer .footer .container ul li a {
  font-size:0.9rem;
}
/* End Site Footer */



/* Form Filtering (Work, Blog, Shop) */
.main .form-filters {
  display:flex;
  flex-direction:row;
  padding:20px;  
}

.main .form-filters h2 {
  text-align:center;
  margin:0 0 25px 0;
  padding:0;
}

.main .form-filters .contianer .filters {
  display:flex;
  flex-direction:row !important;
  align-items:center;
  justify-content: space-between;
  row-gap:2rem;
}
/* End Form Filters */


/* Blog Styles */
.main .blog-page {
  width:100%;
}

.main .blog-page section {
  background:#FFF;
}

section.blog-list {
  width:100%;
  padding:2rem 0;
}

section.blog-list .posts {
  display:flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

section.blog-list .posts article {
  background:#F5F5F5;
  border: 1px solid #FFF;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.1);
  padding: 40px 50px;
}

section.blog-list .posts article .post-date {
  display: inline-block;
  line-height: 28px;
  font-size: 15px;
  color: #777;
  margin-bottom: 10px;
}
/* End Blog Styles */


/* Typography */
body { color: #333; line-height: 1.5rem; font-size: 0.95rem; }
h1, h2, h3, h4, h5 { font-weight:normal; line-height: 1.8rem; }
h1 { font-size:2.5rem; line-height:3rem; }
h4 { padding: 0; margin: 0 0 1.5rem; font-size: 1.3rem; line-height:1.8rem; }
h5 { font-size: 1.1rem; margin: 0; }
p { font-size:0.9rem; margin: 0 0 1.5rem 0; padding:0px; }
a { color: inherit; text-decoration: none; }
/* End Typography */


/* List Styles */
ul.tick-list li, ol.tick-list li {
  margin:0;
  padding:5px 0 5px 25px;
}
/* End List Styles */