/* Testimonials */
.testimonials {
    background:var(--gray);
    color:#333;
    text-align:center;
    padding:60px 0;
  }
  
  .testimonials .aggregateRating {
    margin:0 0 35px 0;
  }
  
  .testimonials .reviews {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    width: 100%;;
    overflow: hidden;
  }
  
  .testimonials .reviews .review {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 33%;
    background:#F7F7F7;
    border-radius:5px;
    border:none;
    padding:15px;
  }
  
  .testimonials .reviews .review .reviewBody {
    line-height:1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-align: center;
  }
  
  .testimonials .reviews .review .reviewBody cite {
    margin:0 0 10px 0;
    font-size:1.1rem;
    font-style: normal;
    text-align: center;
    color:var(--secondary);
  }
  
  .testimonials .reviews .review .reviewBody quote {
    font-size:0.9rem;
    line-height:1.3rem;
  }
  /* End Testimonials */